body div.statistic-list {
  background: url('Assets/Image/fun-factor.jpg');
  background-size: cover;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body div.statistic-list div.statistic-block {
  margin: 0 30px;
}
body div.statistic-list div.statistic-block a.icon {
  color: #666;
  font-size: 24px;
  border: dashed 1px;
  border-radius: 100%;
  /*padding:3px;*/
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
body div.statistic-list div.statistic-block a.active {
  color: #e54c2a;
}
body div.statistic-list div.statistic-block a.icon:hover {
  color: #e54c2a;
}
body div.statistic-list div.statistic-block h2.counter {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 42px;
  margin-top: 30px;
}
body div.statistic-list div.statistic-block h5.heading {
  color: #535353;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
body div.statistic-list div.statistic-block span.delete {
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
}
body div.statistic-list div.statistic-block span.delete:hover {
  color: #e54c2a;
}
body div.statistic-list div.addStatisticButton {
  background: none;
  color: #666;
  font-size: 40px;
  border: none;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
body div.statistic-list div.addStatisticButton:hover {
  border: solid 1px;
  color: #e54c2a;
  font-size: 50px;
}
body div.statistic-list div.listIcon {
  position: absolute;
  top: 0;
}
body div.statistic-list div.listIcon a.icon {
  color: #666;
  font-size: 20px;
  border: solid 1px;
  border-radius: 2%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
body div.statistic-list div.listIcon a.icon:hover {
  color: #e54c2a;
}